<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallpapersRun.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallpapersRun.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WallpapersRun.Properties.Settings1>
            <setting name="nextUpdTime" serializeAs="String">
                <value>1753-01-01</value>
            </setting>
            <setting name="updInterval" serializeAs="String">
                <value>1.00:00:00</value>
            </setting>
            <setting name="wallpapersPath" serializeAs="String">
                <value />
            </setting>
            <setting name="isDailyUpd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastUpdSetTo" serializeAs="String">
                <value>1753-01-01</value>
            </setting>
        </WallpapersRun.Properties.Settings1>
    </userSettings>
    <applicationSettings>
        <WallpapersRun.Properties.Settings1>
            <setting name="taskSheldurerPath" serializeAs="String">
                <value>WallpapersSequence\WallpaperChange</value>
            </setting>
        </WallpapersRun.Properties.Settings1>
    </applicationSettings>
</configuration>